<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211338720894-do3qv794quv7bbh7eu5seg72s8iluo58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211338720894-do3qv794quv7bbh7eu5seg72s8iluo58</string>
	<key>API_KEY</key>
	<string>AIzaSyDEQ_ugajFn7e1GRSlzw3k6MguFKlkXi8c</string>
	<key>GCM_SENDER_ID</key>
	<string>211338720894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cipherkey</string>
	<key>PROJECT_ID</key>
	<string>cipherkey-a6262</string>
	<key>STORAGE_BUCKET</key>
	<string>cipherkey-a6262.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211338720894:ios:6c750b55623c6cddfd8a2f</string>
</dict>
</plist>